version: '3.9'
services:
  web:
    image: "django-demo:dev"
    build:
      target: development_build
      context: ..
      cache_from:
        - "django-demo:dev"
        - "django-demo:latest"
        - "*"
      args:
        DJANGO_ENV: development
    command: python -Wd manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:13.2-alpine
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

volumes:
  postgres_data: